* {
    user-select: none;
    -webkit-user-drag: none;
}

.color{
    background-color: #1b1c20;
    color: white;
}

i {
    color: white;
    margin-right: 10px;
    font-size: 50px;
}

header .col {
    display: flex;
    justify-content: space-between;
}

#background {
    color: white;
    background-color: #1b1c20;
    height: auto;
}

#h2-title {
    font-size: 32px;
}

#a-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#a-header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#description {
    margin-top: 20px;
}

@media (min-width: 767px){
    .menu {
        display: none;
    }

}

@media (max-width: 767px){

    #a-header {
        display: none;
    }

    div.col-5 {
        display: none;
    }

    .align {
        width: 100%;
        margin-bottom: 20px;
    }

}